/* Body styles */
body {
  font-family: "Raleway", sans-serif;
}

/* Login container styles */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh; /* Adjusted height */
}

/* Login form styles */
.login-form {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0.2, 0.3);
  text-align: center;
  background-color: #eae0d5;
}

/* Heading styles */
h2 {
  color: #22333b;
}

/* Label styles */
label {
  display: block;
  margin-top: 15px;
  font-size: 15px;
  color: #5e503f;
}

/* Input styles */
input {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 2px solid #ccc;
  border-radius: 7px;
  font-size: 16px;
  background-color: #ffffff;
  color: #22333b;
  transition: border-color 0.3s ease;
}

/* Input focus styles */
input:focus {
  border-color: #22333b;
}

/* Login button styles */
button.login-btn {
  background-color: #5e503f;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Login button hover styles */
button.login-btn:hover {
  background-color: #22333b;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

/* Error message styles */
.error-message p {
  color: #d9534f;
  margin-top: 15px;
}

/* Paragraph styles */
p {
  color: #5e503f;
  margin-top: 15px;
}

/* Link styles */
a {
  color: #22333b;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.3s ease;
}

/* Link hover styles */
a:hover {
  box-shadow: 0 4px 6px rgba(94, 80, 63, 0.3);
}

/* Welcome message styles */
.welcome-message {
  margin-top: 20px;
  padding: 20px;
  background-color: #eae0d5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0.2, 0.3);
  text-align: center;
}

/* Welcome message paragraph styles */
.welcome-message p {
  color: #22333b;
  font-size: 25px;
}

/* Logout button styles */
.logout-btn {
  background-color: #22333b;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Logout button hover styles */
.logout-btn:hover {
  background-color: #5e503f;
}
