body {
  font-family: "Raleway", sans-serif;
}

/* SignUp Container */
.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

/* Heading Styles */
h2,
h3 {
  color: #22333b;
}

/* SignUp Form Styles */
.signup-form {
  width: 400px; /* Set a fixed width for the form */
  margin: 50px auto; /* Center the form horizontally with top and bottom margins */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0.2, 0.3);
  text-align: center;
  background-color: #eae0d5;
}

/* Label Styles */
label {
  display: block;
  margin-top: 15px;
  font-size: 15px;
  color: #5e503f;
}

/* Input Styles */
input {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 2px solid #ccc;
  border-radius: 7px;
  font-size: 16px;
  background-color: #ffffff;
  color: #22333b;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #22333b;
}

/* Button Styles */
button.signup-btn {
  background-color: #5e503f;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Added box-shadow to the transition */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjusted shadow */
}

button.signup-btn:hover {
  background-color: #22333b;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

/* Error Message Styles */
.error-message p {
  color: #d9534f;
  margin-top: 15px;
}

.signup-navigate-btn {
  background-color: #5e503f;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Added box-shadow to the transition */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.signup-navigate-btn:hover {
  background-color: #22333b;
}

/* Text Styles */
p {
  color: #5e503f;
  margin-top: 15px;
}

/* Link Styles */
a {
  color: #22333b;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.3s ease; /* Add a transition for color change */
}

a:hover {
  box-shadow: 0 4px 6px rgba(94, 80, 63, 0.3); /* Add a subtle box shadow on hover */
}

/* SignUp Welcome Message Styles */
.signup-welcome-message {
  margin-top: 20px;
  padding: 20px;
  background-color: #eae0d5; /* Camel color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0.2, 0.3);
  text-align: center;
}
.signup-welcome-message p {
  color: #22333b; /* Charcoal color */
  font-size: 18px;
  margin-bottom: 10px;
}

.signup-container a:hover {
  box-shadow: 0 4px 6px rgba(94, 80, 63, 0.3);
}
