.bucket-list-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
    transition: transform 0.3s ease;
  }
  
  .bucket-list-items {
    list-style: none;
    padding: 0;
  }
  
  .bucket-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #f4f4f4;
    transition: background-color 0.3s ease;
    margin-top: 5px;
  }
  
  .bucket-list-item:hover {
    background-color: #C6AC8F;
    color: #0A0908;
  }
  
  .close-button {
    background-color: transparent; /* Set background to transparent */
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease; /* Added color transition */
    color: #f4f4f4;
  }
  
  
  /* .close-button:hover {
    background-color: #0056b3;
  } */
  
  .bucket-list-container:hover {
    transform: scale(1.05);
  }
  