/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
    .testimonials-container {
      width: 90%;
    }
    .custom-prev-button,
    .custom-next-button {
      display: none;
    }
  }
    
  /* Testimonials Section */
  .testimonials {
    background-color: #C6AC8F;
  }
  
  /* Down Arrow Style */
  .down-arrow {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: auto;
    cursor: pointer;
    z-index: 2;
  }
  
  /* Testimonials Text Styles */
  .testimonials-text {
    position: relative;
    font-family: "EB Garamond", sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 35px;
    padding-top: 300px;
    color: #22333b;
  }
  
  /* Testimonials Tagline Styles */
  .testimonials-tagline {
    font-family: "Raley", sans-serif;
    font-weight: 100;
    font-size: 20px;
  }
  
  /* Up Arrow Style */
  .up-arrow {
    position: absolute;
    top: 10%;
    left: 50%;
    padding-top: 120px;
    transform: translate(-50%, -50%) rotate(180deg);
    width: 50px;
    height: auto;
    cursor: pointer;
    z-index: 2;
  }
  
  /* Back to Top Section Styles */
  .back-to-top {
    position: relative;
    font-family: "Raley", sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: 1.2em;
    line-height: 1.5;
    padding-top: 0px;
    padding-bottom: 90px;
    color: #22333b;
  }
  
  /* Testimonials Container Styles */
  .testimonials-container {
    background-color: #f8f8f8;
    color: #22333b;
    padding: 0px 20px;
    width: 70%;
    margin: 100px auto;
    margin-bottom: 200px;
    text-align: center;
    border-radius: 50px;
    position: relative;
    z-index: 1;
  }
  
  /* Testimonial Slide Styles */
  .testimonial-slide {
    padding: 70px 0;
    text-align: center;
    width: 60%;
  }

  .testimonial-slide h3 {
    font-family: "EB Garamond", sans-serif;
    font-size: 1.8em;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    font-weight: 100;
  }

  .testimonial-slide p {
    font-family: "Raley", sans-serif;
    font-weight: 100;
    font-size: 1em;
  }
  
  /* Custom Button Styles */
  .custom-prev-button,
  .custom-next-button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 3rem;
    color: #22333b;
    font-family: "EB Garamond", sans-serif;
    cursor: pointer;
  }
  
  /* Custom Prev Button Styles */
  .custom-prev-button {
    position: absolute;
    top: 50%;
    left: 150px;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  /* Custom Next Button Styles */
  .custom-next-button {
    position: absolute;
    top: 50%;
    right: 150px;
    transform: translateY(-50%);
    z-index: 2;
  }
  