.title {
  font-size: 23px;
  font-weight: 200;
  padding: 20px 0px 0px 0px;
  
}

.weather {
  width: 600px;
  border-radius: 15px;
  color: black;
  background-color: lightgrey;
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: rgb(83, 82, 82);
}

.weather-icon {
  width: 100px;
  display: block;
  float: right;
}

.temperature {
  font-weight: 400;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
  color: rgb(83, 82, 82);
  padding: 0 200px 20px 50px;
}

.details {
  width: 100%;
  padding-left: 20px;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
}