
.custom-navbar {
  background-color: #22333b; /* Your desired background color */
}

/* Add your custom styles */
.custom-navbar {
  background-color: #22333b;
  color: white;
}

.custom-navbar .navbar-nav .nav-link {
  color: white;
}

.custom-navbar .navbar-toggler-icon {
   color: white; 
}
