
/* Add your custom styles */
.custom-navbar {
  background-color: #22333B;
  color: white;
  font-family: "Raleway", sans-serif;
  
}

.navbar .container {
  padding: 0;
}

.custom-navbar .navbar-nav .nav-link {
  color: white;
  margin:0 15px;
  font-size: 0.8em;

}

.navbar-nav .nav-link:hover {
  color: #C6AC8F;
}
.custom-navbar .navbar-toggler-icon {
  color: white;
  
 
}

#basic-navbar-nav {
  flex-grow: 0;
  font-size: 20px;
  
}
.navbar-brand-wrapper {
  display: flex;
  align-items: center;
  margin-right: auto;
  
  
}
.navbar-brand {
  display: flex;
  align-items: center;
  
}
.navbar-brand img,
.navbar-brand .title {
  margin: 0;
  padding: 0;
  font-family: "EB Garamond", sans-serif;
}
.navbar-brand img {
margin-right: 40px;
}

