/* about-us.css */

.about-us {
    text-align: center;
}

.about-us ul {
    list-style-position: inside;
    text-align: center;
    padding-left: 0;
}

h1 {
    padding: 20px 0;
}

h2 {
    font-size: 1.5rem;
}

p, li, ul {
    font-size: 1rem;
}