/* Main footer */
.footer {
  background-color: #22333B;
  padding: 30px;
  /* padding-top: 50px; */
  text-align: center;
  color: #fff;
  margin-top: auto;
  min-height: 15vh;
  bottom: 0;
}

/* Social media icons section */
.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 10px;
 
}

/* Individual social media icons */
.social-icon {
  width: 35px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
}

/* Copyright text */
.copyright p {
  color: #fff;
  font-size: 18px;
  font-family: "EB Garamond", sans-serif;
  margin-top: 10px;
}