/* Footer.css */

.footer {
  background-color: #22333b;
  padding: 20px;
  text-align: center;
  color: #fff;
  margin-top: auto;

}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.copyright {
  font-size: 15px;
  font-family: "EB Garamond", sans-serif;
  margin-top: 10px; /* Add margin at the top of the copyright text */
}
