/* YourComponent.css */

.message {
  margin-top: 20px;
  display: flex;
  align-items: center;
  background-color: #4caf50;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  opacity: 0; /* Initially hidden */
  transform: translateY(-20px); /* Initially positioned above */

  &.visible {
    opacity: 1; /* Make visible */
    transform: translateY(0); /* Bring it to the normal position */
  }

  &:hover {
    background-color: #45a049;
  }
}

#text {
  margin: 0;
  flex-grow: 1;
  font-size: 1.2rem;
}

.icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
  margin-left: 10px;
  transition: color 0.3s ease;

  &:hover {
    color: #ddd;
  }
}
